/composer.lock export-ignore
/.github export-ignore
/.claude export-ignore
/.gitignore export-ignore
/.prettierrc export-ignore
/bin export-ignore
/package.json export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/pint.json export-ignore
/tests export-ignore
